@font-face {
    font-family: Ubuntu;
    src: url(../resources/fonts/Ubuntu-Bold.ttf);
    src: url(../resources/fonts/Ubuntu-Regular.ttf);
}

.main-left-container {
    padding: 60px 0 0 145px;
    position: relative;
}

#vector-1 {
    position: absolute;
    top: 190px;
    left: 485px;
}

.main-left-container-verified-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

#verified-text {
    margin-left: 8px;
}

#main-title {
    font-size: 4em;
    font-weight: bold;
    line-height: 130%;
    margin-bottom: 25px;
}

#main-definition {
    width: 550px;
    color: rgba(116, 117, 130, 1);
    font-size: 20px;
    line-height: 180%;
    display: block;
    margin-bottom: 45px;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#get-started-button-1,
#watch-video-button {
    border: none;
    border-radius: 100px;
    font-size: 1.1em;
    font-weight: bold;
}

#watch-video-button {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(40, 44, 75, 1);
    padding: 24px 30px;
    margin-left: 30px;
    cursor: pointer;
    border: 2px solid rgba(155, 158, 176, 0);
    transition: border 0.08s linear;
}

#watch-video-button:hover {
    border: 2px solid rgb(155, 158, 176);
}

#watch-video-icon {
    margin-right: 8px;
}
