@font-face {
    font-family: Ubuntu;
    src: url(../resources/fonts/Ubuntu-Bold.ttf);
    src: url(../resources/fonts/Ubuntu-Regular.ttf);
}

#services-container{
     display: grid;
     grid-template-columns: 35% 1fr;
     height: 500px;
     margin: 0 30px;
}

#services-introduction{
     height: 100%;
     /* border: 1px solid black; */
     display: flex;
     flex-direction: column;
     padding-left: 145px;
     position: relative;
}

#services-text{
     margin: 70px 0 15px 0;
     font-size: 1.3em;
     color: rgba(241, 114, 22, 1);
}

#services-header{
     font-size: 3em;
     font-weight: bold;
     margin-bottom: 30px;
}

#services-definition{
     font-size: 1.3em;
     color: rgba(116, 117, 130, 1);
     line-height: 160%;
}

#services-arrow-vector{
     position: absolute;
     bottom: 40px;
     right: 20px;
}

#services{
     /* border: 2px solid red; */
     display: flex;
     align-items: center;
     padding-bottom: 40px;
}

.service{
     border: 1px solid rgba(0, 0, 0, 0.197);
     padding: 50px 40px 80px 20px;
     margin: 0 20px;
     border-radius: 10px;
     cursor: pointer;
     transition: all 0.10s linear;
}

.service:hover{
     transform: scale(1.02);
     background-color: rgb(233, 233, 233);
     border: 1px solid black;
}

.service-icon{
     display: block;
     margin-bottom: 15px;
}

.service-name{
     display: block;
     font-weight: 600;
     font-size: 1.3em;
     margin-bottom: 15px;
}

.service-definition{
     color: rgba(116, 117, 130, 1);
     line-height: 180%;
}

