@font-face {
    font-family: Ubuntu;
    src: url(../resources/fonts/Ubuntu-Bold.ttf);
    src: url(../resources/fonts/Ubuntu-Regular.ttf);
    src: url(../resources/fonts/Ubuntu-Medium.ttf);
}

#projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 30px;
    padding: 30px 145px;

    margin: 0 30px;
    height: fit-content;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    border-radius: 15px;
    border: 1px solid rgba(251, 63, 107, 0.363);
    cursor: pointer;
    transition: all 0.1s linear;
}

.project:hover {
    border: 1px solid rgba(251, 63, 107, 0.596);
    box-shadow: 0 0 5px rgba(251, 63, 107, 0.556);
    transform: scale(1.01);
}

.project-thumbnail {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.project-title {
    font-weight: 500;
    font-size: 1.1em;
    margin: 5px 0;
}

#projects-label-container {
    padding: 25px 10px;
}

#projects-label-container h1 {
    font-weight: bold;
    margin: 15px 0;
    font-size: 2.3em;
    line-height: 130%;
    letter-spacing: 1px;
    width: 90%;
}

#projects-label-container button {
    border: 1px solid rgba(255, 105, 140, 0.656);
    border-radius: 100px;
    background-color: white;
    padding: 15px 25px;
    font-size: 1.1em;
    font-weight: 550;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.1s linear;
}

#projects-label-container button:hover {
    border: 1px solid rgb(255, 105, 140);
    background-color: rgba(255, 105, 141, 0.5);
}
