html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: rgb(180, 248, 200);
    background: linear-gradient(
        180deg,
        rgba(180, 248, 200, 1) 0%,
        rgba(252, 252, 252, 1) 57%,
        rgba(252, 252, 252, 1) 72%,
        rgba(255, 117, 216, 0.8) 100%
    );
}

#top-circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgba(255, 69, 181, 0.88);
    position: absolute;
    right: 30px;
    top: -190px;
    z-index: -1;
}

#right-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(255, 69, 181, 0.88);
    position: absolute;
    bottom: 30px;
    right: -180px;
    z-index: -1;
}

#left-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(124, 243, 160, 1);
    position: absolute;
    bottom: 20px;
    left: -100px;
    z-index: -1;
}

#pic {
    position: absolute;
    width: 450px;
    top: 0;
    right: 0;
}
